.alert_vehicule {
  padding: 25px;

  .alert_wrapper {
    .alert_title_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;
    }

    .alert_title {
      font-size: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .alert_rows {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
    }
  }
}
