.tv_ponct_container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #1e1e1e;
  border-radius: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.kpi_card {
  flex: 1;
  background: #2b2b2b;
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h3 {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 25px;
    text-align: center;
  }

  .tv_card_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .tv_value_wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .tv_value {
        font-size: 3rem;
        font-weight: 900;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      }

      svg {
        font-size: 1.8rem;
      }
    }

    .tv_previous {
      font-size: 1rem;
      color: #bbb;
      font-weight: 500;
    }
  }
}
