.rapport_bs {
  background: #f0f2f5;
  min-height: 100vh;

  .ant-tabs-nav {
    margin-bottom: 24px;
    }

  .ant-tabs-tab {
    padding: 10px 20px !important;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f5f5f5;
    }

    &.ant-tabs-tab-active {
      background-color: #e6f7ff;
      font-weight: 600;

      .custom_tab_label {
        color: #1890ff;
      }
    }
    }

  .rapport_bs_card {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    padding: 15px;
    }

  .rapport_h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
  }

  .volume-global {
    .kpi_card {
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        background: #fff;
        transition: all 0.3s ease;
        padding: 10px;

        &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
        }

        .ant-statistic-content-value {
        font-size: 22px;
        font-weight: 600;
        color: #262626;
        }
    }

    .inner_card {
        border-radius: 12px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        background: #fff;

        .row_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;
        font-size: 15px;

        &:last-child {
            border-bottom: none;
        }

        strong {
            color: #000;
        }
        }
    }
    }

}